/* Font color: #142611 */
/* Body color: #FFFFFF */
/* Primary color: #84A9BF */
/* Secondary color: #D1C4CE*/

* {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	word-wrap: break-word;
}

html, body {
	margin: 0;
	padding: 0;
	width:100%;
	overflow: auto;
}

body {
	padding-bottom: 25px;
	padding-top: 100vh;
	font-family: "Montserrat", serif;
	background-color: #FFFFFF;
	color: #142611;
}

html {
	position: relative;
	min-height: 100%;
}

#cursive {
	font-family: "Parisienne", cursive;
	font-weight: bolder;
	color: #142611;
}


h4, h5, a {
	color: #84A9BF;
}

a {
	font-weight: bold;
}

a:hover {
	color: #D1C4CE;	
	text-decoration: none;
}

.popup-header {
	font-weight: bolder;
	padding-top: .5rem;
}

/* Section Info */
#section-title, 
#small-section {
	display: grid;
	align-items: center;
	text-align: center;
	grid-template-columns: minmax(20px, 1fr) auto 
	minmax(20px, 1fr);
	grid-gap: 20px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-weight: bold;
}

#section-title:before, 
#section-title:after {
	content: "";
	border-top: 2px solid;
}

#small-section:before,
#small-section:after {
	content: "";
	border-top: 1px solid;
}


.centered {
	text-align: center;
}

/* Spacing and Positioning */

#position-left {
	text-align: left;
	margin-top: 0;
	padding-left: 0;
	margin-left: 0;
}


#position-right {
	text-align: right;
	padding-right: 0;
	margin-right: 0;

}

#position-center {
	text-align: center;
	padding: 0;
	margin: 0;
}

/*  make it so when it's below a certain pixel it is aligned center */

@media screen and (max-width: 800px) {
	#position-left,
	#position-right,
	#position-center {
		text-align: center;
	}
}

.tight {
	padding: 0;
	margin: 0;
}

.bottom-space {
	padding-bottom: 2rem;
}

.left-space {
	padding-left: 1.5rem;
}

ul {
	position-top: -1rem;
	list-style-position: inside;
}

ul li {
	padding-bottom: .5rem;
}

/* Navbar */
#navbar {
	height: 75px;
	overflow: hidden;
	background: -webkit-linear-gradient(to right, #84A9BF, #F2DCE4);
	background:    -moz-linear-gradient(to right, #84A9BF, #F2DCE4);
	background:         linear-gradient(to right, #84A9BF, #F2DCE4);
	padding: 90x 10px;
	transition: top 0.4s;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 99;
}

#navbar a {
	float: left;
	display: block;
	text-align: center;
	padding: 20px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
	color: #142611;
}

#navbar #logo {
	font-size: 35px;
	font-weight: bold;
	transition: 0.4s;
}

#navbar #logo:hover,
#navbar a:hover,
#navbar a.active { 
	background-color: #D1C4CE;
	color: #142611;
}

#navbar-right {
	float: right;
}

/* Header Section */
header {
	background: #F2D5C4;
	background: url(../background.jpg) no-repeat center top;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	width: 100%;

	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	/* if you change height then change body top padding*/
	height: 100vh;
	color: white;

	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#header-title {
	padding-top: 35%;
	padding-left: 5%;
	color: #FFFFFF;
}


/* About */
#biopic {
	height: 300px;
	width: 225px;
	margin-top: 1rem;
	border-radius: 20%;
}

#bio {
	padding-top: 1rem;
}

.bio-words {
	text-align: justify;
}

/* Project Section */
#project-card {
	height: 16rem;
	width: 15rem;
	left: 15%;
}

#project-info {
	text-align: justify;
	padding-top: 1rem;
	padding-left: 4rem;
}

#project-svg {
	top: center;
	height: 10rem;
	width: 10rem;
}

#project-img {
	top: center;
	height: 15rem;
	width: 10rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#svg {
	padding-top: .5rem;
	padding-bottom: .5rem;
	height: 10rem;
	width: 8rem;
}

.card,
.card-text {
	padding-top: .5rem;
}

.tag {
	background-color: #D1C4CE;
	border-radius: 10%;
}

.info {
	border: 1px solid red;
}

.myBtn {
	background-color: transparent;
	color: #D1C4CE;
	font-weight: bold;
}

.myBtn:hover {
	color: #84A9BF;
	cursor: pointer;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /*Stay in place*/
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	height: 100%; /* Full width and height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(1,1,0,0.4); /* Black w opacity */
}

.modal-content {
	position: relative;
	background-color: #FFFFFF;
	margin: 10% auto;
	padding: 0;
	width: 65%;
	border: 1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	animation-name: animatetop;
	animation-duration: 0.4s;
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}

.modal-header {
	font-weight: bolder;
}
.modal-body {
	padding-top: 1rem;
}

.modal-body,
.modal-footer,
.modal-header {
	padding: 2px 16px;
	background-color: #FFFFFF;
}

#learn-more {
	color: #84A9BF;
	font-weight: bold;
	border-top: 1px solid #142611;
	padding-bottom: .5rem;
	padding-top: .5rem;
}

/* Contact */
#contact i {
	color: #D1C4CE;
}

#contact i:hover {
	color: #84A9BF;
	text-decoration: none;
	outline: 0;
}

#social-media {
	padding: 1rem 2rem 2rem 0;
	position-left: .5rem;
}

footer {
	position: absolute;
	left: 0;
	bottom: 0;
	overflow: hidden;
	width: 100%;
	height: 4rem;
	line-height: 4rem;
	background-color: #84A9BF;
}

footer p {
	padding-left: 2rem;
	padding-bottom: 2rem;
}

footer i {
	height: 1rem;
	width: .5rem;
	padding-right: 1.5rem;
	padding-left: .5rem;
}